!!!
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title= title
    meta(name="description", content="WebRTC Chat Roulette")
    meta(name="author", content="Chris Matthieu")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    link(rel="shortcut icon", href="images/favicon.ico")

    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
    link(rel="stylesheet", href="/stylesheets/flat-ui.css")
    link(rel='stylesheet', href='/stylesheets/animate.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='javascripts/jquery.js')
    script(src='javascripts/bootstrap.js')
    script(src='/socket.io/socket.io.js')
    script(src='http://s.phono.com/releases/1.1/jquery.phono.js')

  body.login-page
    body!= body
